*.swp
*.so
*.o

/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
/test-driver
/test-suite.log
/check_*
.deps/
.dirstamp
.libs/
*.l[ao]
*~
